* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-top {
    background-color: #eee;
    width: 100%;
    height: 100px;
    max-width: 2000px;
}

.container {
    padding: 0 15px;
    /* width: 100%; */
    float: left;
    position: relative;
}

.logo {
    position: absolute;
    background: url('image/logo_default-removebg.png') top left / contain no-repeat;
    height: 100px;
    margin-left: 100px;
    width: 300px;
}
marquee{
    font-size: large;
}
.thanhcongcu{
    float: right;
    margin-right: 200px;
    margin-top: 15px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a, .thanhcongcu{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page_mid_left{
    position: relative;
    width: 1000px;
    height: 300px;
    margin: 50px 250px;
}

.hinh_anh{
    background: url('image/maybay16044163150664696391-164-2386-2615-1644742572.jpg') top center / contain no-repeat;
    width: 50%;
    float: left;
    height: 300px;
}
.noidung{
    width: 50%;
    float: left;
    
}

.paga {
    padding: 15px 15px;
    margin: 0 15px;
}

.title-paga {
    font-size: 20px;
    font-weight: 700;
}
.title-paga:hover{
    color:darkblue;
    text-decoration: underline;
    cursor: pointer;
}
hr{
    margin: 0 20px;
}

.tintuc1{
    width: 300px;
    margin: 20px 20px;
    margin-left: 120px;
    height: 150px;
    border: 1px solid red;
    float: left;
    background: url('image/CG2A2035-1644454704.jpg') top center / contain no-repeat;
    color: white;
}
.tintuc2{
    width: 300px;
    margin: 20px 20px;
    height: 150px;
    border: 1px solid red;
    float: left;
}
.tintuc3{
    width: 300px;
    margin: 20px 20px;
    height: 150px;
    border: 1px solid red;
    float: left;
}
.tintuc4{
    width: 300px;
    margin: 20px 20px;
    height: 150px;
    border: 1px solid red;
    float: left;
}